
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Export To Excel</h1>

<form asp-action="ExportToCvs" asp-controller="Export">
    <button type="submit" class="btn btn-outline-success"> Export To Cvs</button>
</form>
<form asp-action="ExportToExcel" asp-controller="Export">
    <button type="submit" class="btn btn-outline-success"> Export To Excel</button>
</form>